<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trab_01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.views_bandas.HistoricoPearlActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity android:name=".views.views_bandas.HistoricoGunsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity android:name=".views.views_bandas.HistoricoNirvanaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity android:name=".views.SobreNosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.TelaListaActivity" />
        </activity>
        <activity android:name=".views.TelaListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>